---
layout: default
---

<div class="article-toc-container">
  <article>
    <%= yield %>
    <section class="post-footer">
      <div>
        <p>Created: <time datetime="<%= resource.data.date %>"><%=resource.data.date.to_date %></time></p>
        <p>Last modified: <time datetime="<%= resource.data.lastmod %>"><%=resource.data.lastmod.to_date %></time></p>
      </div>
      <a href="https://notbyai.fyi" target="_blank" class=""
        ><img class="badge"
          src="/assets/not-by-ai.svg"
          alt="Written by Human, Not by AI"
        /></a
      >
    </section>
  </article>
</div>

<section class="card post-engage">
  <h2 class="card__title post-engage__title">Like my writing?</h2>
  <p>Say thanks by <%= link_to "buying me a coffee", "https://ko-fi.com/wwinks" %> or <%= link_to "send me an email", "mailto:websitecontact.hush341@passmail.net?subject=#{title}" %> with your thoughts.</p>
  <div class="post-engage__button-container">
    <a class="post-engage__reply-button"
      href="mailto:websitecontact.hush341@passmail.net?subject=<%= title %>"
      >Email me</a
      >
    <a class="kofi-button post-engage__reply-button" href="https://ko-fi.com/wwinks">
      <span>
        <img alt="Ko-fi donations" src="/assets/kofi_symbol.png">
        Buy me a coffee
      </span>
    </a>
  </div>
</section>

<div class="card card--page">
  <h2 class="card__title">Keep Reading</h2>
  <div class="post-nav-buttons">
    <% if resource.next %>
      <%= link_to resource.next.data.title, resource.next, class: "post-nav-buttons__button" %>
    <% end %>
    <% if resource.previous %>
      <%= link_to resource.previous.data.title, resource.previous, class: "post-nav-buttons__button" %>
    <% end %>
  </div>
  <div class="tag-container tag-container--post">
    <% data.tags.each do |tag| %>
      <a class="tag-container__tag" href=<%= relative_url '/t/'+tag %>>
        <%= tag %>
      </a>
    <% end %>
  </div>
</div>

<% if resource.collection.label.to_s == "peace-corps" %>
  <div class="card card--page">
    <p>
      <em
        >DISCLAIMER: The contents of this website are mine personally and do not
        reflect any position of the U.S. Government or the Peace Corps.</em
      >
    </p>
  </div>
<% end %>
