<nav class="navbar card">
  <a class="navbar__title" href="/">Westley Winks</a>
  <div class="navbar__link-container">
    <%= link_to 'Résumé', 'collections/_pages/cv.html', class: 'navbar__link' %>
    <%= link_to 'Peace Corps', 'collections/_pages/peace-corps.md', class: 'navbar__link' %>
    <%= link_to 'Posts', 'collections/_pages/p.md', class: 'navbar__link' %>
    <%= link_to 'Books', 'collections/_pages/b.md', class: 'navbar__link' %>
    <%= link_to 'Weeknotes', 'collections/_pages/w.md', class: 'navbar__link' %>
  </div>
</nav>
