<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- <link rel="icon" type="image/svg+xml" href="/assets/favicon.png" /> -->
<meta name="generator" content="Bridgetown" />

<% resource_title = strip_html(strip_newlines(title)) %>
<% if resource_title != "Westley Winks" %>
  <title>
    <%= metadata.title %> :: <%= resource_title %>
  </title>
  <meta property="og:title" content="<%= metadata.title %> :: <%= resource_title %>" />
<% else %>
  <title>
    <%= metadata.title %>
  </title>
  <meta property="og:title" content="<%= metadata.title %>" />
<% end %>

<% if resource.data.description %>
  <meta name="description" content="<%= resource.data.description %>" />
  <meta property="og:description" content="<%= resource.data.description %>" />
<% else %>
  <meta name="description" content="<%= metadata.description %>" />
  <meta property="og:description" content="<%= metadata.description %>" />
<% end %>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content=<%= "https://wwinks.com" + resource.relative_url %> />
<meta name="fediverse:creator" content="@ww@social.lol" />

<link rel="stylesheet" href="<%= asset_path :css %>" />
<link rel="feed alternate" type="application/rss+xml" href="/feed.xml" title="Atom Feed">
<script src="<%= asset_path :js %>" defer></script>
<%= live_reload_dev_js %>

<% unless Bridgetown.env.development? %>
<!-- GoatCounter Analytics -->
  <script data-goatcounter="https://wwinks.goatcounter.com/count"
          async src="//gc.zgo.at/count.js"></script>
<% end %>
